body {
	font-family: verdana;
	background-color: #34495e;
}

td {
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0px;
}

.grid {
	position: relative;
	/*border-left: 3px dashed #ecf0f1;
	border-top: 3px dashed #ecf0f1;*/
	/*-webkit-box-shadow: 10px 10px 0 2px #d35400;
	box-shadow: 10px 10px 0 2px #d35400;*/
}

.cell {
	position: relative;
	width: 60px;
	height: 60px;
	border: 2px dashed #ecf0f1;
	box-sizing: border-box; 
}

.hole {
	/*-webkit-box-shadow:inset 30px 30px 0 4px #d35400;
	box-shadow:inset 30px 30px 0 4px #d35400;*/
	background: none;
	border: none;
}

.none {
	background-color: #95a5a6;
}

.color1 {
	background-color: #e74c3c;
}

.color2 {
	background-color: #2ecc71;
}

.hole-top {
	border-top: 2px solid #ecf0f1;
}

.hole-bottom {
	border-bottom: 2px solid #ecf0f1;
}

.hole-right {
	border-right: 2px solid #ecf0f1;
}

.hole-left {
	border-left: 2px solid #ecf0f1;
}

/*.cell-top {
	border-top: 2px solid #ecf0f1;
}

.cell-bottom {
	border-bottom: 2px solid #ecf0f1;
}

.cell-right {
	border-right: 2px solid #ecf0f1;
}

.cell-left {
	border-left: 2px solid #ecf0f1;
}*/



.cell:after {
	content: " ";  
	position: absolute;
	top: 5px;
	left: 5px;  
	width: 65px;  
	height: 65px;  
	z-index: -10;
	box-sizing: border-box;
	background-color: #2c3e50;    
	/*box-shadow: 5px 10px 0 5px #d35400;*/
}

.hole:after {
	content: none;  
	/*box-shadow: 5px 10px 0 5px #d35400;*/
}


.robot {
	position: absolute;
	box-sizing: border-box; 
	background-image: url('../images/robot.png');
	width: 60px;
	height: 60px;
}

.action {
	box-sizing: border-box; 
	width: 120px;
	min-height: 60px;
}

.container {
	box-sizing: border-box; 
	min-width: 120px;
	min-height: 60px;
	background-color: #CCC;
	border: 1px solid black;
	padding: 5px;
}

.script .action {
	display: block;
}

.executing {
	border: 4px solid #0F0;
}

.up {
	background-image: url('../images/up.png');
}

.down {
	background-image: url('../images/down.png');
}

.left {
	background-image: url('../images/left.png');
}

.right {
	background-image: url('../images/right.png');
}

.stateColor1 {
	background-color: #e74c3c;
}

.stateColor2 {
	background-color: #2ecc71;
}

.repeat3Times {
	background-color: #AAA;
}

.repeat3Times:before {
	content: "repeat 3 times";
}

.ifColor1 {
	background-color: #AAA;
}

.ifColor1:before {
	content: "if tile is red";
}

.script {
	border: 1px solid #000;
	min-height: 60px;
}

.actions {
	border: 1px solid #000;
}

.controlBoard {
	border: 1px solid #000;
}

.control {
	box-sizing: border-box; 
	width: 60px;
	height: 60px;
}

.play {
	background-image: url('../images/play.png');
}

.pause {
	background-image: url('../images/pause.png');
}

.stop {
	background-image: url('../images/stop.png');
}

.clear {
	background-image: url('../images/clear.png');
}

.availableActions {
	border: 1px solid #000;
}

.gridContainer {
	position: absolute;
	left: 20px;
	top: 20px;
}

.scriptContainer {
	width: 40%;
	position: absolute;
	right: 0;
}

.garbage {
	border: 1px solid #000;
	min-height: 80px;
}

.placeHolder {
	display: none;
}