@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ex20jr');
	src:url('../fonts/icomoon.eot?#iefix-ex20jr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ex20jr') format('woff'),
		url('../fonts/icomoon.ttf?-ex20jr') format('truetype'),
		url('../fonts/icomoon.svg?-ex20jr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.robot,
.play, .stop,
.clear, .garbage,
.up, .down, .left, .right,
.stateColor1, .stateColor2,
.repeat2Times, .repeat3Times, .repeat4Times,
.ifColor1, .ifColor2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 48px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: verdana;
	background-color: #34495e;
	padding: 20px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

td {
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0px;
}

.top {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	box-sizing: border-box; 
}

.bottom {
	width: 100%;
	padding: 20px;
	box-sizing: border-box; 
}

.grid {
	position: relative;
	/*border-left: 3px dashed #ecf0f1;
	border-top: 3px dashed #ecf0f1;*/
	/*-webkit-box-shadow: 10px 10px 0 2px #d35400;
	box-shadow: 10px 10px 0 2px #d35400;*/
}

.cell {
	position: relative;
	width: 60px;
	height: 60px;
	border: 2px dashed #ecf0f1;
	box-sizing: border-box; 
}

.hole {
	/*-webkit-box-shadow:inset 30px 30px 0 4px #d35400;
	box-shadow:inset 30px 30px 0 4px #d35400;*/
	background: none;
	border: none;
}

.none {
	background-color: #95a5a6;
}

.color1 {
	background-color: #e74c3c;
}

.color2 {
	background-color: #2ecc71;
}

.hole-top {
	border-top: 2px solid #ecf0f1;
}

.hole-bottom {
	border-bottom: 2px solid #ecf0f1;
}

.hole-right {
	border-right: 2px solid #ecf0f1;
}

.hole-left {
	border-left: 2px solid #ecf0f1;
}

/*.cell-top {
	border-top: 2px solid #ecf0f1;
}

.cell-bottom {
	border-bottom: 2px solid #ecf0f1;
}

.cell-right {
	border-right: 2px solid #ecf0f1;
}

.cell-left {
	border-left: 2px solid #ecf0f1;
}*/



.cell:after {
	content: " ";  
	position: absolute;
	top: 5px;
	left: 5px;  
	width: 65px;  
	height: 65px;  
	z-index: -10;
	box-sizing: border-box;
	background-color: #2c3e50;    
	/*box-shadow: 5px 10px 0 5px #d35400;*/
}

.hole:after {
	content: none;  
	/*box-shadow: 5px 10px 0 5px #d35400;*/
}


.robot {
	position: absolute;
	box-sizing: border-box; 
	width: 60px;
	height: 60px;
	padding: 5px;
}

.robot:before {
	content: "\e602";
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	color: #d35400;
}

.action {
	box-sizing: border-box; 
	width: 80px;
	height: 80px;
	color: #ecf0f1;
	background-color: #d35400;
	border: none;
}

.container {
	box-sizing: border-box; 
	min-width: 80px;
	min-height: 80px;
	background-color: rgba(236, 240, 241, 0.4);
	padding: 0px 4px 4px 4px;
	display: flex;
	align-items: baseline;
}

.executing {
	border: 4px solid #0F0;
}

.up:before {
	content: "\e609";
}

.down:before {
	content: "\e60b";
}

.left:before {
	content: "\e60c";
}

.right:before {
	content: "\e60a";
}

.stateColor1 {
	background-color: #c0392b;
}

.stateColor2 {
	background-color: #27ae60;
}

.stateColor1:before, .stateColor2:before {
	content: "\e600";
}

.repeat2Times, .repeat3Times, .repeat4Times {
	position: relative;
	background-color: #8e44ad;
}

.repeat2Times:before, .repeat3Times:before, .repeat4Times:before {
	content: "\e606";
}

.repeat2Times:after, .repeat3Times:after, .repeat4Times:after {
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 20px;
}

.repeat2Times:after {
	content: "2";
}

.repeat3Times:after {
	content: "3";
}

.repeat4Times:after {
	content: "4";
}

.ifColor1 {
	background-color: #c0392b;
}

.ifColor2 {
	background-color: #27ae60;
}

.ifColor1:before, .ifColor2:before {
	content: "\e604";
}

.script {
	background-color: #7f8c8d;
	margin-left: 20px;
	margin-right: 20px;
	width: 85%;
	display: flex;
	align-items: baseline;
	box-sizing: border-box;
	padding: 4px;
	box-shadow: 10px 10px 0px #2c3e50; 
}

.instance {
	margin: 0 4px;
	display: flex;
}

.actions {
	border: 1px solid #000;
}

.controlBoard {
	width: 100px;
}


.play, .pause, .stop,
.garbage {
	width: 100px;
	height: 100px;
	color: #ecf0f1;
	border: none;
	font-size: 72px;
	box-sizing: border-box;	
	padding: 0;
}

.play {
	background-color: #16a085;
	box-shadow: 10px 10px 0px #2c3e50; 
}

.play:before {
	content: "\e607";
}

.pause {
	background-image: url('../images/pause.png');
}

.stop {
	background-color: #c0392b;
	box-shadow: 10px 10px 0px #2c3e50; 
}

.stop:before {
	content: "\e608";
}

.clear:before {
	content: "\e605";
}

.availableActions {
	margin-top: 20px;
	margin-bottom: 20px;
	box-sizing: border-box; 
	padding: 4px;
	display: flex;
	flex-wrap: wrap;
}

.availableActions .action {
	margin: 4px;
	box-shadow: 10px 10px 0px #2c3e50; 
}

.gridContainer {
	position: relative;
	box-sizing: border-box;
}

.scriptContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.garbage {
	background-color: #7f8c8d;
	box-shadow: 10px 10px 0px #2c3e50;  
}

.garbage:before {
	content: "\e603";
}

.placeHolder {
	display: none;
}